<div
  class="w-full bg-gradient-to-t from-blue-400 via-blue-500 to-blue-400 p-5 sm:pb-8 pb-12 mx-auto"
>
  <h2 class="text-white font-bold text-2xl my-4">
    <i class="fa fa-bus bg-red-900 px-2 py-2 rounded-full"></i> Bus Booking
  </h2>

  <div
    class="my-5 gap-5 grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 w-full mx-auto"
  >
    <p class="text-center text-sm md:text-start text-white">
      Get best deals on your online travel bookings. <br />
      Book hotels flights, bus, trains and cabs.
    </p>
    <p class="text-sm text-white text-center">
      <i class="fa fa-copyright"></i> Copyright 2025. Powered by
      FortunateDeveloper
    </p>
    <p class="text-sm text-white text-center">
      <i
        class="fa fa-facebook bg-purple-700 py-2 px-3 cursor-pointer hover:text-black rounded-full mr-2"
      ></i>
      <i
        class="fa fa-twitter bg-blue-700 py-2 px-3 cursor-pointer hover:text-black rounded-full mr-2"
      ></i>
      <i
        class="fa fa-linkedin bg-green-700 py-2 px-3 cursor-pointer hover:text-black rounded-full mr-2"
      ></i>
      <i
        class="fa fa-instagram bg-pink-700 py-2 px-3 cursor-pointer hover:text-black rounded-full"
      ></i>
    </p>
  </div>
</div>
