<div class="w-full mt-14 bg-white">
  <div
    class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 items-center align- justify-center mx-auto w-full h-fit px-32 bg-gradient-to-r from-pink-300 to-pink-400 py-5"
  >
    <div class="text-black">
      <h1
        class="lg:text-start md:text-start text-center font-bold md:text-3xl lg:text-5xl text-3xl"
      >
        LET'S EXPORE <br />
        THE WORLD
      </h1>
      <div class="my-6 text-center lg:text-start md:text-start">
        <p class="w-full lg:text-lg text-sm md:text-sm tracking-tighter mb-6">
          Get best deals on your online travel bookings. <br />
          Book hotels flights bus, trains and cabs.
        </p>
        <a
          class="bg-blue-400 text-white py-3 px-4 w-auto rounded-md mt-8 hover:bg-blue-600 cursor-pointer"
          routerLink="/search"
        >
          Book Your Trip
        </a>
      </div>
    </div>
    <div>
      <img class="w-full" src="assets/heroimg.png" alt="Hero Image" />
    </div>
  </div>

  <div
    class="w-full mb-8 py-10 bg-gradient-to-tr from-blue-200 via-slate-500 to-blue-300"
  >
    <div class="text-center">
      <p class="text-sm mb-1 text-white font-bold">
        Why Choose Our Travel Agency?
      </p>
      <h1 class="text-4xl font-bold text-black mb-6">OUR CORE VALUES</h1>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 mx-auto w-fit lg:w-fit md:w-fit"
    >
      <div
        class="p-8 w-80 h-auto text-center bg-blue-100 shadow-lg rounded-md mx-auto"
      >
        <div class="my-5 text-green-500 text-6xl font-bold">
          <i class="fa fa-industry"></i>
        </div>
        <h3 class="text-black text-2xl font-bold my-5">Accomodation</h3>
        <p class="text-gray-500 font-bold text-sm">
          No matter where you are travelling, Emigrar is here to help you get
          the deals in Hotels around the world.
        </p>
      </div>

      <div
        class="p-8 w-80 h-auto text-center bg-blue-100 shadow-lg rounded-md mx-auto"
      >
        <div class="my-5 text-purple-600 text-6xl font-bold">
          <i class="fa fa-puzzle-piece"></i>
        </div>
        <h3 class="text-black text-2xl font-bold my-5">Expert Trip Planning</h3>
        <p class="text-gray-500 font-bold text-sm">
          Our talented and expert trip planning team can make itinnerary that
          suits our clients the bese.
        </p>
      </div>

      <div
        class="p-8 w-80 h-auto text-center bg-blue-100 shadow-lg rounded-md mx-auto"
      >
        <div class="my-5 text-pink-500 text-6xl font-bold">
          <i class="fa fa-train"></i>
        </div>
        <h3 class="text-black text-2xl font-bold my-5">Transportation</h3>
        <p class="text-gray-500 font-bold text-sm">
          Whether you are travelling through Air, Sea or Land, Emigrar can
          arrange transportation according to.
        </p>
      </div>
    </div>
  </div>

  <div class="w-full lg:w-full my-8 mx-auto">
    <div
      class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-2 mx-auto w-fit lg:w-fit md:w-fit pb-0 sm:pb-5"
    >
      <div class="w-72 py-16 h-auto shadow-lg text-center">
        <h3 class="text-purple-900 font-bold text-5xl">75K+</h3>
        <h5 class="text-black font-semibold mt-3 text-2xl">Happy Passenger</h5>
      </div>
      <div class="w-72 py-16 h-auto shadow-lg text-center">
        <h3 class="text-purple-900 font-bold text-5xl">97K+</h3>
        <h5 class="text-black font-semibold mt-3 text-2xl">Happy User</h5>
      </div>
      <div class="w-72 py-16 h-auto shadow-lg text-center">
        <h3 class="text-purple-900 font-bold text-5xl">500K+</h3>
        <h5 class="text-black font-semibold mt-3 text-2xl">Flight Search</h5>
      </div>
      <div class="w-72 py-16 h-auto shadow-lg text-center">
        <h3 class="text-purple-900 font-bold text-5xl">75K+</h3>
        <h5 class="text-black font-semibold mt-3 text-2xl">
          Real time Booking
        </h5>
      </div>
    </div>
  </div>

  <div class="w-full my-8 px-10">
    <div class="text-center">
      <p class="text-sm mb-1 text-blue-400 font-bold">Take A Look At Our</p>
      <h1 class="md:text-4xl text-2xl sm:text-3xl font-bold text-black mb-6">
        RECOMMENDED HOTELS
      </h1>
      <!-- <div
        class="lg:flex md:flex items-center justify-center bg-blue-500/45 rounded-full w-fit mx-auto px-5 py-2 hidden"
      >
        <button class="text-white bg-blue-900 rounded-2xl py-3 px-5 w-auto">
          All Hotels
        </button>
        <button class="text-blue-900 rounded-2xl py-3 px-5 w-auto">
          London
        </button>
        <button class="text-blue-900 rounded-2xl py-3 px-5 w-auto">
          Manchester
        </button>
        <button class="text-blue-900 rounded-2xl py-3 px-5 w-auto">
          Emirates
        </button>
        <button class="text-blue-900 rounded-2xl py-3 px-5 w-auto">
          Mumbai
        </button>
        <button class="text-blue-900 rounded-2xl py-3 px-5 w-auto">
          Miami
        </button>
      </div> -->
    </div>

    <div class="mt-7 w-full">
      <div
        class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 w-fit gap-4 mx-auto"
      >
        <div class="p-6 shadow-lg bg-gray-50 rounded-md">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlPWOnFVw7KNAT1jnySzwcq_4CxW8WkrMFlA&s"
            alt="Hote Image"
            class="w-full h-60"
          />
          <div class="mt-4">
            <h4 class="text-xl font-bold text-gray-800">Hotel The Serrass</h4>
            <div class="my-3 w-full flex justify-between">
              <span class="text-orange-400 flex gap-1 text-sm w-fit">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
              <span class="text-gray-400 text-sm">4.5/5 (558 Reviews)</span>
            </div>
            <h5 class="text-gray-400 font-bold text-lg">Manchester, UK</h5>
          </div>
        </div>
        <div class="p-6 shadow-lg bg-gray-50 rounded-md">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKFoo8y4kLV98oUwTZTAQCzqmlJUqOR0NLFg&s"
            alt="Hote Image"
            class="w-full h-60"
          />
          <div class="mt-4">
            <h4 class="text-xl font-bold text-gray-800">
              Aria Hotel Budapest by Library
            </h4>
            <div class="my-3 w-full flex justify-between">
              <span class="text-orange-400 flex gap-1 text-sm w-fit">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
              <span class="text-gray-400 text-sm">4.5/5 (1,558 Reviews)</span>
            </div>
            <h5 class="text-gray-400 font-bold text-lg">London, UK</h5>
          </div>
        </div>
        <div class="p-6 shadow-lg bg-gray-50 rounded-md">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUgw1QcpVM_ETgHLuSxL9GMVLXULvNq4ePDg&s"
            alt="Hote Image"
            class="w-full h-60"
          />
          <div class="mt-4">
            <h4 class="text-xl font-bold text-gray-800">
              Mandapa, A Ritz-Carlton Reserve
            </h4>
            <div class="my-3 w-full flex justify-between">
              <span class="text-orange-400 flex gap-1 text-sm w-fit">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
              <span class="text-gray-400 text-sm">4.5/5 (238 Reviews)</span>
            </div>
            <h5 class="text-gray-400 font-bold text-lg">Miami, India</h5>
          </div>
        </div>
        <div class="p-6 shadow-lg bg-gray-50 rounded-md">
          <img
            src="https://images7.alphacoders.com/362/362619.jpg"
            alt="Hote Image"
            class="w-full h-60"
          />
          <div class="mt-4">
            <h4 class="text-xl font-bold text-gray-800">Shinta Mani Shack</h4>
            <div class="my-3 w-full flex justify-between">
              <span class="text-orange-400 flex gap-1 text-sm w-fit">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
              <span class="text-gray-400 text-sm">4.5/5 (238 Reviews)</span>
            </div>
            <h5 class="text-gray-400 font-bold text-lg">Manchester, UK</h5>
          </div>
        </div>
        <div class="p-6 shadow-lg bg-gray-50 rounded-md">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrJd-6HUuWyYoC2wbZkwpmZt822c7EjLW8-Q&s"
            alt="Hote Image"
            class="w-full h-60"
          />
          <div class="mt-4">
            <h4 class="text-xl font-bold text-gray-800">Ikos Olivia</h4>
            <div class="my-3 w-full flex justify-between">
              <span class="text-orange-400 flex gap-1 text-sm w-fit">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
              <span class="text-gray-400 text-sm">4.7/5 (558 Reviews)</span>
            </div>
            <h5 class="text-gray-400 font-bold text-lg">Emirates, UK</h5>
          </div>
        </div>
        <div class="p-6 shadow-lg bg-gray-50 rounded-md">
          <img
            src="https://c4.wallpaperflare.com/wallpaper/921/708/937/best-hotels-travel-thailand-tourism-wallpaper-preview.jpg"
            alt="Hote Image"
            class="w-full h-60"
          />
          <div class="mt-4">
            <h4 class="text-xl font-bold text-gray-800">Sonia Village Hotel</h4>
            <div class="my-3 w-full flex justify-between">
              <span class="text-orange-400 flex gap-1 text-sm w-fit">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
              <span class="text-gray-400 text-sm">4.5/5 (898 Reviews)</span>
            </div>
            <h5 class="text-gray-400 font-bold text-lg">Mumbai, Inida</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full mt-8">
    <div class="text-center">
      <p class="text-sm mb-1 text-blue-400 font-bold">Recommended For You</p>
      <h1 class="md:text-4xl text-2xl sm:text-3xl font-bold text-black mb-6">
        TRAVEL ESSENTIALS ITEMS
      </h1>
    </div>

    <div class="w-full bg-blue-50 p-6 mt-4">
      <div
        class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 w-fit gap-4 mx-auto"
      >
        <div class="p-6 shadow-lg rounded-md w-80 mx-auto text-center">
          <img
            src="assets/travelBoot.png"
            alt="Travel Boot"
            class="w-32 mx-auto"
          />
          <div class="mt-3 text-center">
            <h5 class="text-black font-bold text-sm">Travel Boots</h5>
            <p class="text-blue-600 text-sm font-bold my-2">$250.00</p>
            <p class="text-orange-400 text-sm font-bold">
              <i class="fa fa-star"></i>
              <span class="text-gray-400 text-sm"> 4.5/5 (238 Reviews)</span>
            </p>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-md w-80 mx-auto text-center">
          <img
            src="assets/backpack.png"
            alt="Travel Boot"
            class="w-32 mx-auto"
          />
          <div class="mt-3 text-center">
            <h5 class="text-black font-bold text-sm">Back Pack</h5>
            <p class="text-blue-600 text-sm font-bold my-2">$149.00</p>
            <p class="text-orange-400 text-sm font-bold">
              <i class="fa fa-star"></i>
              <span class="text-gray-400 text-sm"> 4.5/5 (238 Reviews)</span>
            </p>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-md w-80 mx-auto text-center">
          <img
            src="assets/canonCamera.png"
            alt="Travel Boot"
            class="w-32 mx-auto"
          />
          <div class="mt-3 text-center">
            <h5 class="text-black font-bold text-sm">Canon Camera</h5>
            <p class="text-blue-600 text-sm font-bold my-2">$450.00</p>
            <p class="text-orange-400 text-sm font-bold">
              <i class="fa fa-star"></i>
              <span class="text-gray-400 text-sm"> 4.5/5 (238 Reviews)</span>
            </p>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-md w-80 mx-auto text-center">
          <img
            src="assets/summerWare.png"
            alt="Travel Boot"
            class="w-32 mx-auto"
          />
          <div class="mt-3 text-center">
            <h5 class="text-black font-bold text-sm">Summer Ware</h5>
            <p class="text-blue-600 text-sm font-bold my-2">$100.00</p>
            <p class="text-orange-400 text-sm font-bold">
              <i class="fa fa-star"></i>
              <span class="text-gray-400 text-sm"> 4.5/5 (238 Reviews)</span>
            </p>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-md w-80 mx-auto text-center">
          <img
            src="assets/binocular.png"
            alt="Travel Boot"
            class="w-32 mx-auto"
          />
          <div class="mt-3 text-center">
            <h5 class="text-black font-bold text-sm">Binocular</h5>
            <p class="text-blue-600 text-sm font-bold my-2">$290.00</p>
            <p class="text-orange-400 text-sm font-bold">
              <i class="fa fa-star"></i>
              <span class="text-gray-400 text-sm"> 4.5/5 (238 Reviews)</span>
            </p>
          </div>
        </div>
        <div class="p-6 shadow-lg rounded-md w-80 mx-auto text-center">
          <img
            src="assets/cowboyhat.png"
            alt="Travel Boot"
            class="w-32 mx-auto"
          />
          <div class="mt-3 text-center">
            <h5 class="text-black font-bold text-sm">Cow Boy Hat</h5>
            <p class="text-blue-600 text-sm font-bold my-2">$50.00</p>
            <p class="text-orange-400 text-sm font-bold">
              <i class="fa fa-star"></i>
              <span class="text-gray-400 text-sm"> 4.5/5 (238 Reviews)</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full my-3 px-6 py-2 bg-gradient-to-r from-pink-100 to-pink-50 relative"
  >
    <div
      class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 items-center justify-center mx-auto w-full h-fit px-32 py-5 text-center md:text-start relative"
    >
      <div class="relative md:w-full">
        <h3
          class="text-black font-extrabold text-lg md:text-2xl lg:text-4xl mb-2"
        >
          BOOKING BUS MOBILE <br />APP AVAILABLE <br />
          FOR DOWNLOAD
        </h3>
        <p class="w-full lg:text-lg text-sm md:text-sm tracking-tighter mb-0">
          Get best deals on your online travel bookings. <br />
          Book hotels flights bus, trains and cabs.
        </p>
        <div class="flex items-center justify-center md:justify-start mt-0">
          <img src="assets/play-store.png" class="w-24" alt="Play Store" />
          <img src="assets/app-store.png" class="w-24" alt="app Store" />
        </div>
      </div>
      <div class="relative">
        <div class="relative">
          <img
            src="assets/phone.png"
            class="absolute w-full lg:w-96 h-1/2 lg:left48 md:left-32 left-32 bottom-16 opacity-15"
            alt="App"
            style="height: 600px"
          />
          <img
            src="assets/phone.png"
            class="w-full lg:w-96 z-20 block relative"
            style="height: 600px"
            alt="App"
          />
        </div>
      </div>
    </div>
  </div>
</div>
@if (showArrowUp) {
<div
  class="text-xl bg-red-500 text-white rounded-full p-3 fixed bottom-4 right-2 cursor-pointer"
  (click)="scrollToTop()"
>
  <i class="fa fa-arrow-up"></i>
</div>
}
